.czi-animation-fade-in {
  animation-duration: 250ms;
  animation-fill-mode: both;
  animation-name: czi-animation-fade-in;
  opacity: 0.6;
}

@keyframes czi-animation-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
